# macOS file
.DS_Store

# IDE files
.vscode/
.idea/

# automated testing tool (Executable File)
# download: https://chromedriver.chromium.org
chromedriver

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
